In [1]:
# IMPORTING IMPORTANT LIBRARIES 
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder,StandardScaler
from sklearn.metrics import mean_absolute_error , mean_squared_error
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib.inline

UsageError: Line magic function `%matplotlib.inline` not found.

# IMPORTING DATASETS

In [2]:
# importing the dataset 
train_data=pd.read_excel('flight_fare_prediction_train.xlsx')
test_data=pd.read_excel('flight_fare_prediction_test.xlsx')

In [3]:
train_data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [4]:
train_data.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [5]:
train_data=train_data.dropna()

In [6]:
train_data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [7]:
train_data.describe()

              Price
count  10682.000000
mean    9087.214567
std     4611.548810
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [8]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  object
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10682 non-null  object
 6   Arrival_Time     10682 non-null  object
 7   Duration         10682 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10682 non-null  object
 10  Price            10682 non-null  int64
dtypes: int64(1), object(10)
memory usage: 1001.4+ KB

In [9]:
train_data.nunique()

Airline              12
Date_of_Journey      44
Source                5
Destination           6
Route               128
Dep_Time            222
Arrival_Time       1343
Duration            368
Total_Stops           5
Additional_Info      10
Price              1870
dtype: int64

# FEATURE ENGINEERING

In [10]:
train_data['journey_day']=pd.to_datetime(train_data.Date_of_Journey,format='%d/%m/%Y').dt.day
train_data['journey_month']=pd.to_datetime(train_data.Date_of_Journey,format='%d/%m/%Y').dt.month

C:\Users\apawa\AppData\Local\Temp\ipykernel_4904\1818759100.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['journey_day']=pd.to_datetime(train_data.Date_of_Journey,format='%d/%m/%Y').dt.day
C:\Users\apawa\AppData\Local\Temp\ipykernel_4904\1818759100.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['journey_month']=pd.to_datetime(train_data.Date_of_Journey,format='%d/%m/%Y').dt.month

In [11]:
train_data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,journey_day,journey_month
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3

In [12]:
train_data.drop(['Date_of_Journey'],axis=1)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,journey_day,journey_month
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,9,4
10679,Air India,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,27,4
10680,Jet Airways,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,27,4
10681,Vistara,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,1,3
10682,Air India,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,9,5

In [14]:
train_data['dep_min']=pd.to_datetime(train_data.Dep_Time).dt.minute
train_data['dep_hour']=pd.to_datetime(train_data.Dep_Time).dt.hour

C:\Users\apawa\AppData\Local\Temp\ipykernel_4904\2457028804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['dep_min']=pd.to_datetime(train_data.Dep_Time).dt.minute

In [15]:
train_data

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,journey_day,journey_month,dep_hour,dep_min
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,22,20
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,5,50
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,6,9,25
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,5,18,5
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,1,3,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107,9,4,19,55
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145,27,4,20,45
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229,27,4,8,20
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648,1,3,11,30
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753,9,5,10,55

In [16]:
train_data.drop(['Dep_Time'],axis=1,inplace=True)

C:\Users\apawa\AppData\Local\Temp\ipykernel_4904\929438317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.drop(['Dep_Time'],axis=1,inplace=True)

In [17]:
train_data

,Airline,Date_of_Journey,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,journey_day,journey_month,dep_hour,dep_min
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,22,20
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2 stops,No info,7662,1,5,5,50
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,04:25 10 Jun,19h,2 stops,No info,13882,9,6,9,25
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,23:30,5h 25m,1 stop,No info,6218,12,5,18,5
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,21:35,4h 45m,1 stop,No info,13302,1,3,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,22:25,2h 30m,non-stop,No info,4107,9,4,19,55
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,23:20,2h 35m,non-stop,No info,4145,27,4,20,45
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,11:20,3h,non-stop,No info,7229,27,4,8,20
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,14:10,2h 40m,non-stop,No info,12648,1,3,11,30
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,19:15,8h 20m,2 stops,No info,11753,9,5,10,55

In [18]:
## Time taken to reach destination is called Duration
## It is difference between Departure Time and Arrival Time

## Assigning and converting Duration column into list
duration = list(train_data.Duration)

for i in range(len(duration)):
    if len(duration[i].split()) != 2:                       # Check if duration contains only hour or mins
        if 'h' in duration[i]:
            duration[i] = duration[i].strip() + " 0m"  # Adding 0 mins
        else:
            duration[i] = "0h " + duration[i]


duration_hours = []
duration_mins = []
for i in range(len(duration)):
    duration_hours.append(int(duration[i].split("h")[0]))    # Extract hours from Duration
    duration_mins.append(int(duration[i].split('m')[0].split()[-1]))  # Extract onlye minutes from Duration

In [19]:
train_data["Duration_hours"] = duration_hours
train_data["Duration_mins"] = duration_mins

C:\Users\apawa\AppData\Local\Temp\ipykernel_4904\755168180.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data["Duration_hours"] = duration_hours
C:\Users\apawa\AppData\Local\Temp\ipykernel_4904\755168180.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data["Duration_mins"] = duration_mins

In [20]:
train_data

,Airline,Date_of_Journey,Source,Destination,Route,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,journey_day,journey_month,dep_hour,dep_min,Duration_hours,Duration_mins
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,22,20,2,50
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,13:15,7h 25m,2 stops,No info,7662,1,5,5,50,7,25
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,04:25 10 Jun,19h,2 stops,No info,13882,9,6,9,25,19,0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,23:30,5h 25m,1 stop,No info,6218,12,5,18,5,5,25
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,21:35,4h 45m,1 stop,No info,13302,1,3,16,50,4,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,22:25,2h 30m,non-stop,No info,4107,9,4,19,55,2,30
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,23:20,2h 35m,non-stop,No info,4145,27,4,20,45,2,35
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,11:20,3h,non-stop,No info,7229,27,4,8,20,3,0
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,14:10,2h 40m,non-stop,No info,12648,1,3,11,30,2,40
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,19:15,8h 20m,2 stops,No info,11753,9,5,10,55,8,20

In [21]:
train_data['arr_hour']=pd.to_datetime(train_data.Arrival_Time).dt.hour
train_data['arr_min']=pd.to_datetime(train_data.Arrival_Time).dt.minute

C:\Users\apawa\AppData\Local\Temp\ipykernel_4904\477882783.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['arr_hour']=pd.to_datetime(train_data.Arrival_Time).dt.hour
C:\Users\apawa\AppData\Local\Temp\ipykernel_4904\477882783.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['arr_min']=pd.to_datetime(train_data.Arrival_Time).dt.minute

In [22]:
train_data.drop(['Arrival_Time'],axis=1,inplace=True)
train_data.drop(['Duration'],axis=1,inplace=True)

C:\Users\apawa\AppData\Local\Temp\ipykernel_4904\3005287066.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.drop(['Arrival_Time'],axis=1,inplace=True)
C:\Users\apawa\AppData\Local\Temp\ipykernel_4904\3005287066.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.drop(['Duration'],axis=1,inplace=True)

In [23]:
train_data

,Airline,Date_of_Journey,Source,Destination,Route,Total_Stops,Additional_Info,Price,journey_day,journey_month,dep_hour,dep_min,Duration_hours,Duration_mins,arr_hour,arr_min
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,22,20,2,50,1,10
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,5,50,7,25,13,15
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,9,6,9,25,19,0,4,25
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,12,5,18,5,5,25,23,30
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info,13302,1,3,16,50,4,45,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,non-stop,No info,4107,9,4,19,55,2,30,22,25
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,non-stop,No info,4145,27,4,20,45,2,35,23,20
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,non-stop,No info,7229,27,4,8,20,3,0,11,20
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,non-stop,No info,12648,1,3,11,30,2,40,14,10
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,2 stops,No info,11753,9,5,10,55,8,20,19,15

In [24]:
## Additional_Info conatins almost 80% no_info
# Route and Total_Stops are related to each other

train_data.drop(['Route', 'Additional_Info'], axis=1, inplace=True)

C:\Users\apawa\AppData\Local\Temp\ipykernel_4904\2915471109.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.drop(['Route', 'Additional_Info'], axis=1, inplace=True)

In [25]:
train_data.drop(['Date_of_Journey'], axis=1, inplace=True)

C:\Users\apawa\AppData\Local\Temp\ipykernel_4904\4240845628.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.drop(['Date_of_Journey'], axis=1, inplace=True)

In [26]:
train_data

,Airline,Source,Destination,Total_Stops,Price,journey_day,journey_month,dep_hour,dep_min,Duration_hours,Duration_mins,arr_hour,arr_min
0,IndiGo,Banglore,New Delhi,non-stop,3897,24,3,22,20,2,50,1,10
1,Air India,Kolkata,Banglore,2 stops,7662,1,5,5,50,7,25,13,15
2,Jet Airways,Delhi,Cochin,2 stops,13882,9,6,9,25,19,0,4,25
3,IndiGo,Kolkata,Banglore,1 stop,6218,12,5,18,5,5,25,23,30
4,IndiGo,Banglore,New Delhi,1 stop,13302,1,3,16,50,4,45,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,Kolkata,Banglore,non-stop,4107,9,4,19,55,2,30,22,25
10679,Air India,Kolkata,Banglore,non-stop,4145,27,4,20,45,2,35,23,20
10680,Jet Airways,Banglore,Delhi,non-stop,7229,27,4,8,20,3,0,11,20
10681,Vistara,Banglore,New Delhi,non-stop,12648,1,3,11,30,2,40,14,10
10682,Air India,Delhi,Cochin,2 stops,11753,9,5,10,55,8,20,19,15

In [27]:
train_data.columns

Index(['Airline', 'Source', 'Destination', 'Total_Stops', 'Price',
       'journey_day', 'journey_month', 'dep_hour', 'dep_min', 'Duration_hours',
       'Duration_mins', 'arr_hour', 'arr_min'],
      dtype='object')

# SPLITTING DATA INTO FEATURES AND TARGET

In [28]:
# splitting data into features and target

X=train_data[['Airline', 'Source', 'Destination', 'Total_Stops',
       'journey_day', 'journey_month', 'dep_hour', 'dep_min', 'Duration_hours',
       'Duration_mins', 'arr_hour', 'arr_min']]
y=train_data['Price']

In [29]:
X.dtypes

Airline           object
Source            object
Destination       object
Total_Stops       object
journey_day        int64
journey_month      int64
dep_hour           int64
dep_min            int64
Duration_hours     int64
Duration_mins      int64
arr_hour           int64
arr_min            int64
dtype: object

In [30]:
y

0         3897
1         7662
2        13882
3         6218
4        13302
         ...
10678     4107
10679     4145
10680     7229
10681    12648
10682    11753
Name: Price, Length: 10682, dtype: int64

# TRAIN TEST SPLIT

In [31]:
# splitting data into train and test data


X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.20,random_state=42)

In [32]:
print(X_train)
print(X_test)
print(y_train)
print(y_test)

                 Airline    Source Destination Total_Stops  journey_day  \
10005  Multiple carriers     Delhi      Cochin      1 stop           27
3684         Jet Airways     Delhi      Cochin      1 stop            9
1034            SpiceJet     Delhi      Cochin      1 stop           24
3909   Multiple carriers     Delhi      Cochin      1 stop           21
3088           Air India     Delhi      Cochin     2 stops           24
...                  ...       ...         ...         ...          ...
5734         Jet Airways     Delhi      Cochin      1 stop           27
5191         Jet Airways   Kolkata    Banglore      1 stop            9
5390   Multiple carriers     Delhi      Cochin      1 stop           15
860               IndiGo  Banglore   New Delhi    non-stop            3
7270         Jet Airways     Delhi      Cochin      1 stop            1

       journey_month  dep_hour  dep_min  Duration_hours  Duration_mins  \
10005              5         8       30              10             45
3684               5        11       30              25              5
1034               4        15       45               6             20
3909               3        12       50              12             45
3088               6        17       15              26              0
...              ...       ...      ...             ...            ...
5734               3         9        0              19             25
5191               5        14        5               6             40
5390               5        12       50              12             40
860                3         0       40               2             45
7270               6        13        0              15             25

       arr_hour  arr_min
10005        19       15
3684         12       35
1034         22        5
3909          1       35
3088         19       15
...         ...      ...
5734          4       25
5191         20       45
5390          1       30
860           3       25
7270          4       25

[8545 rows x 12 columns]
                 Airline   Source Destination Total_Stops  journey_day  \
6075   Multiple carriers    Delhi      Cochin     2 stops           21
3544               GoAir    Delhi      Cochin      1 stop            3
9291             Vistara  Kolkata    Banglore      1 stop            9
5032              IndiGo  Chennai     Kolkata    non-stop           24
2483         Jet Airways    Delhi      Cochin      1 stop           21
...                  ...      ...         ...         ...          ...
9797   Multiple carriers    Delhi      Cochin      1 stop           27
9871            SpiceJet  Kolkata    Banglore    non-stop            6
10063           Air Asia    Delhi      Cochin      1 stop           21
8802         Jet Airways  Kolkata    Banglore      1 stop           24
8617         Jet Airways  Kolkata    Banglore      1 stop            6

       journey_month  dep_hour  dep_min  Duration_hours  Duration_mins  \
6075               5        15        5              10             25
3544               6        10       35               9              0
9291               5        20       20              12             45
5032               5        14       45               2             20
2483               5        22       50               5             35
...              ...       ...      ...             ...            ...
9797               6         8        0              13              0
9871               3        17       15               2             30
10063              4         7       55              14             30
8802               3         6       30              16             55
8617               6        17        0               6             35

       arr_hour  arr_min
6075          1       30
3544         19       35
9291          9        5
5032         17        5
2483          4       25
...         ...      ...
9797         21        0
9871         19       45
10063        22       25
8802         23       25
8617         23       35

[2137 rows x 12 columns]
10005     9149
3684     12373
1034      5583
3909      7695
3088     11972
         ...
5734     12242
5191     10844
5390      7670
860       6144
7270     10262
Name: Price, Length: 8545, dtype: int64
6075     16655
3544      4959
9291      9187
5032      3858
2483     12898
         ...
9797      7408
9871      4622
10063     7452
8802      8824
8617     14151
Name: Price, Length: 2137, dtype: int64

In [33]:
#  splitting the train and test datainto categorical and numeical data

X_train_cat=X_train.select_dtypes(include='object')
X_train_num=X_train.select_dtypes(include='int64')

X_test_cat=X_test.select_dtypes(include='object')
X_test_num=X_test.select_dtypes(include='int64')

In [34]:
print(X_train_cat)
print(X_train_num)
print(X_test_cat)
print(X_test_num)

                 Airline    Source Destination Total_Stops
10005  Multiple carriers     Delhi      Cochin      1 stop
3684         Jet Airways     Delhi      Cochin      1 stop
1034            SpiceJet     Delhi      Cochin      1 stop
3909   Multiple carriers     Delhi      Cochin      1 stop
3088           Air India     Delhi      Cochin     2 stops
...                  ...       ...         ...         ...
5734         Jet Airways     Delhi      Cochin      1 stop
5191         Jet Airways   Kolkata    Banglore      1 stop
5390   Multiple carriers     Delhi      Cochin      1 stop
860               IndiGo  Banglore   New Delhi    non-stop
7270         Jet Airways     Delhi      Cochin      1 stop

[8545 rows x 4 columns]
       journey_day  journey_month  dep_hour  dep_min  Duration_hours  \
10005           27              5         8       30              10
3684             9              5        11       30              25
1034            24              4        15       45               6
3909            21              3        12       50              12
3088            24              6        17       15              26
...            ...            ...       ...      ...             ...
5734            27              3         9        0              19
5191             9              5        14        5               6
5390            15              5        12       50              12
860              3              3         0       40               2
7270             1              6        13        0              15

       Duration_mins  arr_hour  arr_min
10005             45        19       15
3684               5        12       35
1034              20        22        5
3909              45         1       35
3088               0        19       15
...              ...       ...      ...
5734              25         4       25
5191              40        20       45
5390              40         1       30
860               45         3       25
7270              25         4       25

[8545 rows x 8 columns]
                 Airline   Source Destination Total_Stops
6075   Multiple carriers    Delhi      Cochin     2 stops
3544               GoAir    Delhi      Cochin      1 stop
9291             Vistara  Kolkata    Banglore      1 stop
5032              IndiGo  Chennai     Kolkata    non-stop
2483         Jet Airways    Delhi      Cochin      1 stop
...                  ...      ...         ...         ...
9797   Multiple carriers    Delhi      Cochin      1 stop
9871            SpiceJet  Kolkata    Banglore    non-stop
10063           Air Asia    Delhi      Cochin      1 stop
8802         Jet Airways  Kolkata    Banglore      1 stop
8617         Jet Airways  Kolkata    Banglore      1 stop

[2137 rows x 4 columns]
       journey_day  journey_month  dep_hour  dep_min  Duration_hours  \
6075            21              5        15        5              10
3544             3              6        10       35               9
9291             9              5        20       20              12
5032            24              5        14       45               2
2483            21              5        22       50               5
...            ...            ...       ...      ...             ...
9797            27              6         8        0              13
9871             6              3        17       15               2
10063           21              4         7       55              14
8802            24              3         6       30              16
8617             6              6        17        0               6

       Duration_mins  arr_hour  arr_min
6075              25         1       30
3544               0        19       35
9291              45         9        5
5032              20        17        5
2483              35         4       25
...              ...       ...      ...
9797               0        21        0
9871              30        19       45
10063             30        22       25
8802              55        23       25
8617              35        23       35

[2137 rows x 8 columns]

# ENCODING AND PREPARING DATA FOR MODELLING

In [35]:
# Onehotencoder on train and test categorical data
OE=OrdinalEncoder()
OE.fit(X_train_cat)
X_train_cat_enc=OE.transform(X_train_cat)

In [36]:
print(X_train_cat_enc)

[[6. 2. 1. 0.]
 [4. 2. 1. 0.]
 [8. 2. 1. 0.]
 ...
 [6. 2. 1. 0.]
 [3. 0. 5. 4.]
 [4. 2. 1. 0.]]

In [37]:
OE.fit(X_test_cat)
X_test_cat_enc=OE.transform(X_test_cat)

In [41]:
# concat the train and test data categorical and numerical data
X_train_cat_enc_df=pd.DataFrame(X_train_cat_enc)
X_test_cat_enc_df=pd.DataFrame(X_test_cat_enc)
X_train_cat_enc_df.reset_index(drop=True,inplace=True)
X_train_num.reset_index(drop=True,inplace=True)
X_test_cat_enc_df.reset_index(drop=True,inplace=True)
X_test_num.reset_index(drop=True,inplace=True)
print(X_train_cat_enc_df.shape)
print(X_test_cat_enc_df.shape)
print(X_train_num.shape)
print(X_test_num.shape)

X_train_final=pd.concat([X_train_cat_enc_df,X_train_num],axis=1,ignore_index=True)
X_test_final=pd.concat([X_test_cat_enc_df,X_test_num],axis=1,ignore_index=True)

(8545, 4)
(2137, 4)
(8545, 8)
(2137, 8)

In [42]:
print(X_train_cat_enc_df.shape)
print(X_train_num.shape)
print(X_test_cat_enc_df.shape)
print(X_test_num.shape)

(8545, 4)
(8545, 8)
(2137, 4)
(2137, 8)

In [43]:
print(X_train_final.isnull().sum())
print(X_train_final.info())
print(X_train_final.shape)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8545 entries, 0 to 8544
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       8545 non-null   float64
 1   1       8545 non-null   float64
 2   2       8545 non-null   float64
 3   3       8545 non-null   float64
 4   4       8545 non-null   int64
 5   5       8545 non-null   int64
 6   6       8545 non-null   int64
 7   7       8545 non-null   int64
 8   8       8545 non-null   int64
 9   9       8545 non-null   int64
 10  10      8545 non-null   int64
 11  11      8545 non-null   int64
dtypes: float64(4), int64(8)
memory usage: 801.2 KB
None
(8545, 12)

In [46]:
y_train.reset_index(drop=True,inplace=True)
y_test.reset_index(drop=True,inplace=True)
print(y_train)

0        9149
1       12373
2        5583
3        7695
4       11972
        ...
8540    12242
8541    10844
8542     7670
8543     6144
8544    10262
Name: Price, Length: 8545, dtype: int64

# MODEL BUILDING

In [47]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
model.fit(X_train_final,y_train)
y_pred=model.predict(X_test_final)

In [48]:
print(y_pred)

[16848.02        5572.23        8353.4        ...  6890.12
 13058.54928571 12948.6615    ]

In [50]:
RMSE=mean_squared_error(y_pred,y_test)

In [51]:
print(RMSE)

4784702.197217535

# MODEL EVALUATION

In [52]:
from sklearn.metrics import r2_score
from sklearn import metrics
print("MAE: ", metrics.mean_absolute_error(y_test, y_pred))
print("MSE: ", metrics.mean_squared_error(y_test, y_pred))
print("RMSE: ", np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

MAE:  1241.1240938626183
MSE:  4784702.197217535
RMSE:  2187.3962140448025

In [53]:
metrics.r2_score(y_test, y_pred)

0.778096201712638

# HYPER PARAMETER TUNING

In [56]:
from sklearn.model_selection import RandomizedSearchCV

In [57]:
# Randomized Search CV

## Number of trees in ramdom forest
n_estimators = [int(x) for x in np.linspace(start=100, stop=1200, num=12)]
## Number of features to consider at every split
max_features = ['auto', 'sqrt']
## Maximum number of level in tree
max_depth = [int(x) for x in np.linspace(5, 30, num=6)]
## Minimum number of samples required to split a node
min_samples_split = [2, 5, 10, 15, 100]
## Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 5, 10]

In [58]:
## create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}
print(random_grid)

{'n_estimators': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200], 'max_features': ['auto', 'sqrt'], 'max_depth': [5, 10, 15, 20, 25, 30], 'min_samples_split': [2, 5, 10, 15, 100], 'min_samples_leaf': [1, 2, 5, 10]}

In [59]:
rf_random = RandomizedSearchCV(estimator=model, param_distributions=random_grid, scoring='neg_mean_squared_error',
                               n_iter=10, cv=5, verbose=2, random_state=42, n_jobs=1)

In [60]:
rf_random.fit(X_train_final, y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   3.4s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   3.3s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   3.5s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   3.4s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   3.3s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   5.0s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   5.2s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   5.0s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   5.0s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   5.3s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   2.5s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   2.5s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   2.5s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   2.5s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   2.5s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   4.7s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   4.7s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   4.7s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   4.9s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   4.8s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   7.4s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   7.3s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   7.3s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   7.4s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   7.3s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   7.3s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   7.3s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   7.6s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   7.3s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   7.3s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   2.9s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   2.7s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   2.7s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   2.7s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   2.8s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   1.3s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   1.3s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   1.3s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   1.3s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   1.3s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   1.8s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   1.7s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   1.8s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   1.7s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   1.8s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   8.7s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   8.6s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   8.6s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   8.6s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   8.4s

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=1,
                   param_distributions={'max_depth': [5, 10, 15, 20, 25, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 10, 15,
                                                              100],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500, 600, 700, 800,
                                                         900, 1000, 1100,
                                                         1200]},
                   random_state=42, scoring='neg_mean_squared_error',
                   verbose=2)

In [61]:
rf_random.best_params_

{'n_estimators': 700,
 'min_samples_split': 15,
 'min_samples_leaf': 1,
 'max_features': 'auto',
 'max_depth': 20}

In [64]:
model_1=RandomForestRegressor(n_estimators= 700,
 min_samples_split= 15,
 min_samples_leaf= 1,
 max_features='auto',
 max_depth=20)
model_1.fit(X_train_final,y_train)

RandomForestRegressor(max_depth=20, min_samples_split=15, n_estimators=700)

In [65]:
y_pred_1 = model_1.predict(X_test_final)

In [66]:
print("MAE: ", metrics.mean_absolute_error(y_test, y_pred_1))
print("MSE: ", metrics.mean_squared_error(y_test, y_pred_1))
print("RMSE: ", np.sqrt(metrics.mean_squared_error(y_test, y_pred_1)))

MAE:  1232.4410689214315
MSE:  4528207.706739268
RMSE:  2127.9585773081367

In [67]:
metrics.r2_score(y_test, y_pred_1)

0.7899918431404385